.mainframe {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  width: 80%;
  height: 80%;
  background-color: #586065;
}

.mainleftbar {
  position: relative;
  display: flex;
  top: 0px;
  left: 0px;
  width: 10%;
  height: 100%;
  background-color: #373942;
}

.profilebox {
  position: relative;
  top: 15%;
  width: 70%;
  height: 20%;
  border-radius: 70%;
  overflow: hidden;
}

.profile {
  position: absolute;
  align-content: center;
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.profilebar {
  position: absolute;
  left: 5%;
  background-color: #515257;
  width: 15%;
  top: 0px;
  height: 100%;
}