* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

#root {
  background-color: #3a424f;
}


div, span, h1, h2, b, p{
  color: #fff;
}

.page {
  height: 100%;
  min-height: 100%;
  padding: 0 100px;
  overflow: hidden;
}

.page-content {  
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  min-height: 80vh;
  margin: 10vh auto;
  padding: 0;
  border-radius: 20px;
  background-color: #586065;
  -webkit-box-shadow: 0px 7px 23px 3px #333;
  box-shadow: 0px 7px 23px 3px #333;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  height: 100%;
  max-height: 80vh;
  min-height: inherit;
  text-align: center;
  padding: 30px 30px 45px;
  overflow: auto;
  background-color: #373942;
}

.header-title{
  text-align: center;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #fffEEE;
  margin-top: 10px;
  font-family: 'Poppins', Helvetica, sans-serif;
  margin-bottom: 10px;
}

.header-photo {
  display: flex;
  width: 180px;
  height: 180px;
  margin: 70px auto 30px;
  z-index: 1;
}

.header-photo > img{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 300px;
  object-fit: cover;
  overflow: hidden;
}

.header-social {
  display: flex;
  width: 100%;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.header-social > ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding: 0;
}

.header-social > ul > li{
  display: flex;
  align-content: center;
  flex-direction: column;
}

.value {
  text-align: center;
  font-size: 18px;
  line-height: 1.65em;
  color: #fffEEE;
  font-family: 'Poppins', Helvetica, sans-serif;
}


.header-img-link{
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-img {
  width: 25px;
  height: 25px;
  margin: 20px 20px 20px;
}

.content-area {
  right: 0;
  background-color: #515257;
  height: 100%;
  min-height: inherit;
  max-height: 80vh;
  width: 100%;
}

.title-area {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 30px;
  padding-bottom: 50px;
}

.main-title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
}

.main-menu-title {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.15rem;
  margin: 0px;
}

.title-area-career {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 30px;
  padding-bottom: 50px;
  background-color: #586065;
}

.logo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  width: 20%;
}

.logo-area > img {
  width: 80%;
  height: 80%;
  
}

.company-area {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-items: flex-start;
  background-color: #586065;
}

.value-area {
  border-left: 1px solid #fff;
  margin-left: 50px;
  padding-left: 30px;
}

.company-explanation {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.career-s-title {
  list-style: disclosure-closed;
}

.menu-title {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.15rem;
}

.content-area > div > ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-end;
  margin: 30px 50px;
  border-style: outset;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
  border-bottom: 1px solid #888;
  padding: 20px 30px 20px 18px; 
  margin: 0px 0px 0px 0px;
  /* box-shadow: inset 2px 2px #000; */
}

.content-area > div > ul > li {
  display: flex;
  margin-left: 30px;
}

.main-menu > li > a {
  color: #fff;
  text-decoration: none;
}

.value-area > p > ul {
  padding-left: 18px;
  margin: 0px;
}

.project-content-area {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 45vh;
  background-color: #586065;
  border-radius: 20px;
  margin-bottom: 20px;
}
.project-name {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.project-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.img-box {
  position: relative;
  width: 400px;
  height: 400px;
  margin-right: 20px;
  overflow: auto;
}

.project-img {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  object-fit: cover;
}

.project-text-area {
  word-wrap: break-all;
  width: 400px;
}

.project-text-box {
  border-bottom: 1px solid #fff;
  padding-bottom: 1.5rem;
  margin-bottom: 0.5rem;

}

.function-option {
  margin-right: 1rem;
}

.project-description {
  display: block;
  margin-bottom: 1rem;
}

.project-description-deployment {
  display: block;
}

.project-function-title {
  display: inline-block;
  vertical-align: top;
  width: 7.8rem;
  height: 2rem;
  font-weight: 800;
  font-size: 1rem;
}

.project-function-value {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 7.8rem);
  font-size: 1rem;
  font-weight: 400;
}


.project-function {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  list-style: disclosure-closed;
}

.Project-content-box {
  display: flex;
  flex-direction: row;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: auto;
}

.skills-area {
  display: flex;
  height: calc(100% - (7.5rem + 1px));
}

.skill-area {
  background-color: #586065;
}

.skill-title {
  border-bottom: 1px solid #333;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}

.backend-area {
  width: 19rem;
  flex-shrink: 0;
  padding: 1.5rem;
  margin: 0 auto 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
}

.frontend-area {
  width: 19rem;
  flex-shrink: 0;
  padding: 1.5rem;
  margin: 0 auto 2rem;
  border-radius: 1rem;
  background-color: #fff;
}

.main-menu {
  position: absolute;
  padding: 15px 0;
  width: 100px;
  right: -10px;
  border-radius: 35px;
  background-color: #373942;
  list-style: none;
  
}
.aboutme-center {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

.more-view-button-area {
  display: inline-block;
  border: none;
  align-self: center;
  text-align: center;
  padding: 20px;
  width: 150px;
  border-radius: 10rem;
  cursor: pointer;
  background-color: darkgray;
}

.more-view-button {
  text-decoration: none;
  align-self: center;
}


.about-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

h4 {
  padding-top: 10px;
  margin-top: 0;
}

div {
  display: block;
  overflow: hidden scroll;
}